<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <sites>
            <site name="needtomigrationsite">
                <patch:attribute name="itemwebapi.mode">Off</patch:attribute>
                <patch:attribute name="itemwebapi.access">ReadOnly</patch:attribute>
                <patch:attribute name="itemwebapi.allowanonymousaccess">false</patch:attribute>
            </site>
            <site role:require="ContentDelivery or Standalone" name="needtomigrationsite" htmlCacheSize="200MB"/>
        </sites>
    </sitecore>
</configuration>