<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
        <databases>
            <!-- migration -->
            <database id="migration" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" role:require="Standalone or ContentManagement or ContentDelivery">
                <param desc="name">$(id)</param>
                <icon>Images/database_web.png</icon>
                <securityEnabled security:require="Sitecore">true</securityEnabled>
                <securityEnabled security:require="None">false</securityEnabled>
                <dataProviders hint="list:AddDataProvider">
                    <dataProvider type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Kernel">
                        <param desc="readOnlyDataProviders" hint="list">
                            <protobufItems type="Sitecore.Data.DataProviders.ReadOnly.Protobuf.ProtobufDataProvider, Sitecore.Kernel">
                                <filePaths hint="list">
                                    <filePath>$(dataFolder)/items/$(id)</filePath>
                                    <modulesFilePath>/sitecore modules/items/$(id)</modulesFilePath>
                                </filePaths>
                            </protobufItems>
                        </param>
                        <param desc="headProvider">
                            <dataProvider ref="dataProviders/main" param1="$(id)">
                                <disableGroup>publishing</disableGroup>
                                <prefetch hint="raw:AddPrefetch">
                                    <sc.include file="/App_Config/Prefetch/Common.config" />
                                    <sc.include file="/App_Config/Prefetch/Webdb.config" />
                                </prefetch>
                            </dataProvider>
                        </param>
                    </dataProvider>
                </dataProviders>
                <PropertyStore ref="PropertyStoreProvider/store[@name='$(id)']" />
                <remoteEvents.EventQueue>
                    <obj ref="eventing/eventQueueProvider/eventQueue[@name='$(id)']" />
                </remoteEvents.EventQueue>
                <archives hint="raw:AddArchive">
                    <archive name="archive" />
                    <archive name="recyclebin" />
                </archives>
                <cacheSizes hint="setting">
                    <data>100MB</data>
                    <items>50MB</items>
                    <paths>2500KB</paths>
                    <itempaths>50MB</itempaths>
                    <standardValues>2500KB</standardValues>
                </cacheSizes>
                <BlobStorage hint="raw:AddBlobStorage">
                    <providers default="classic">
                        <provider name="classic" type="Sitecore.Data.Blobs.ClassicSqlBlobProvider, Sitecore.Kernel">
                            <param desc="databaseName">$(id)</param>
                        </provider>
                    </providers>
                </BlobStorage>
            </database>
        </databases>
    </sitecore>
</configuration>